body{
    background-color: rgb(225, 250, 179, 0.8);
}

#Logo{
    height: 90px;
    width: 80px;
}

#logo{
    background-color: white;
}

nav,a{
    margin-top: 20px;
    margin-right: 40px;
    padding: 20px;
    display: inline;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    color: black;
}

#menu{
    font-size: 30px;
    background-color: white;
    position: sticky;
    top: 0;
    flex: auto;
    padding: 80px;
    width: 100%;
    font-stretch: 100%;
    font-weight: 700;
    font-display: swap;
}

h1{
    font-size: 2,3em;
}

header{
    color: white;
     text-shadow: 5px 5px 5px  rgb(225, 250, 179, 0.8);
    text-align: center;
    background-color: rgb(108,187,63,.8);
    padding: 20px;
    position: relative;
    display: block;
    flex: auto;
}

.tips {
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 20px 10px 30px;
}

.tips {
    padding-top: 20px;
}

.tips {
    align-items: center;
    background-color: rgb(108,187,63,.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 15px;
    position: relative;
}

.tips .tip {
    flex: 0 0 calc(33.33333% - 20px);
    flex-direction: column;
    margin: 10px 10px 0;
    max-width: unset;
    padding: 25px 0;
    width: calc(33.33333% - 20px);
    padding: 15px;
}

.tips .tip {
    align-items: center;
    background-color: rgba(255,255,255,.8);
    border-radius: 10px;
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    max-width: 550px;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 4;
}

section {
    display: block;
}

img {
    border-style: none;
    max-width: 100%;
    overflow: clip;
    height: 75px;
    width: 75px;
}

.tips .tip .text {
    max-width: 100%;
    padding-left: 10px;
}

.Salud{
    text-align: center;
}

.titulo{
    
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
    color: rgb(108,187,63,.8);
     text-shadow: 5px 5px 5px rgb(108, 187, 63, .8);
}

h2{
    font-family: Consolas, monaco, monospace; font-size: 27px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } blockquote { font-family: Consolas, monaco, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Consolas, monaco, monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;
    color: white; 
} 

h3{ 
    font-size: 50px
}

.preguntas{
    padding: 13px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.respuestas{
    color: rgb(0,132,134,);
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}

.seccion form label{
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.seccion{
    border: 3px ridge;
    border-color: rgb(0,132,134,);
    width: 50%;
    margin: auto;
    padding: 10px;
}

.nombre {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: small;
    width: 100%;
    text-align: center;
    background-color: rgb(108,187,63,.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

img {
    width: 30px;
    height: 30px;
    border-style: ridge;
    border: 1px solid greenyellow;
    border-radius: 30px;
}


form input {
    display: block;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin: auto;
    text-align: center;


}

label {
    text-align: center;
}

body {
    text-align: center;
    font-family: cursive;
}

#consultas {
    resize: none;
}

#envio {
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

form {
    margin:auto;
    margin-top: 50px;
    border-radius: 15px;
    border: 1px solid;
    border-color: rgb(108,187,63,.8);
    width: 40%;
    padding: 10px;
    text-shadow: 20px;
    background-color: rgb(108,187,63,.8);
}

input:hover {
    color: black;
    background-color: rgb(225, 250, 179, 0.8);
}

h2 {
    text-align: center;
    padding-top: 10px;
}

#formdiv{
    text-align: center;
    display: block;
    align-items: center;
}

textarea{
    width: 90%;
}

input{
  width: 90%;
}


.artes {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.derecho {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.diseño {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.economica {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.exactas {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.ingenieria {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica ;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.psicologia {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-family:Helvetica;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.salud {

    text-align: center;
    padding-top: 10px;
    font-family:Helvetica;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    --bs-primary-rgb: 13, 110, 253;
}

.tecnologia {

    text-align: center;
    font-family: cursive;
    padding-top: 10px;
    font-size: x-large;
    width: 100%;
    text-align: center;
    background-color: rgba(152, 238, 101, 0.8);
    border: 1px solid rgb(108,187,63,.8);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    font-family:helvetica ; 
        
}
    
    .carreras {
        font-family:'Lucida Grande'; 
        font-size: 80px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px;
        color: rgba(93, 139, 0, 0.8);
        text-shadow: 5px 5px 5px  rgba(134, 175, 56, 0.8);
    }

    .carreras1 {
        font-family:'Lucida Grande'; 
        font-size: 36px; 
        font-style: normal; 
        font-variant: normal; 
        font-weight: 700; 
        line-height: 15.4px;
        color: rgba(109, 161, 6, 0.8);


    }

h4{
font-size: 28px;
}
    

.facultad{
    font-family: monospace; 
    font-size: 28px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px

}
   

body{
    background-color: rgb(225, 250, 179, 0.8);
}

.redes {
    font-family: monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 600; 
    line-height: 26.4px; } 

.infocarreras {
    text-align: center;
    padding-top: 10px;
    font-family:Helvetica;
    font-size: x-large;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
} 







